#--------------------------------------------------------------------------------------------------------------------------------------------------------
# Startup

# background img
exec_always feh --bg-fill ~/Pictures/wallpapers/coast.jpg


exec_always compton --backend glx --paint-on-overlay --vsync opengl-swc -f
exec_always --no-startup-id numlockx on
exec_always --no-startup-id if ! pidof greenclip; then greenclip daemon; fi;
# exec_always --no-startup-id if ! pidof redshift; then redshift; fi;
exec_always --no-startup-id $HOME/.config/polybar/launch.sh
# exec --no-startup-id nm-applet

# disable touchpad corner actions
exec_always synclient RBCornerButton=0
exec_always synclient RTCornerButton=0
